# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/workspace.xml
*.xml
*.py[cod]
out
gen
/.evn/
.idea
data/runtime
data/server.log
client/client_log.log



