certifi==2018.10.15
chardet==3.0.4
ciso8601==2.1.1
Click==7.0
cvxopt==1.2.0
dataclasses==0.6
Flask==1.0.2
Flask-Cors==3.0.6
graphviz==0.10.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.4
pandas==0.23.4
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
